# Generated version file
/neon/version.py

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.noseids

# Translations
# *.mo

# Mr Developer
.mr.developer.cfg

# Sublime Text
*.sublime*

# Eclipse
.settings

# Environment
.env
.envrc
.direnv

# Sphinx
doctrees
build
.buildinfo

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Database
dump.rdb

# Tests
.cache
